<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<connectionStrings>
		<!--<add name="CnxSQL" connectionString="Data Source=DESKTOP-V3JNTM8;Integrated Security=True;Database=EMPERADOR" />-->
		<!--<add name="CnxSQL" connectionString="Data Source=DESKTOP-P7GH3IM\MSSQLSERVER01;Initial Catalog=SIIVA;Integrated Security=True" />-->
		<!--<add name="CnxSQL" connectionString="Data Source=DESKTOP-MICHELL\SQLEXPRESS01;Initial Catalog=SIIVA;Integrated Security=True" />-->
		<add name="CnxSQL" connectionString="Data Source=LAPTOP-FIN9R98I\MARIOALEJANDRO2;Initial Catalog=SIIVA;Integrated Security=True" /> 
		<!--<add name="CnxSQL" connectionString="Data Source=localhost;Initial Catalog=SIIVA;Integrated Security=True" /> -->
      <!--<add name="CnxSQL" connectionString="Data Source=CLOUDX;Initial Catalog=SIIVA;Integrated Security=True" />-->
	</connectionStrings>
</configuration>