<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<connectionStrings>		
		<add name="CnxSQL" connectionString="Data Source=DESKTOP-P7GH3IM\MSSQLSERVER01;Initial Catalog=SIIVA;Integrated Security=True" />
		<!--<add name="CnxSQL" connectionString="Data Source=DESKTOP-MICHELL\SQLEXPRESS01;Initial Catalog=SIIVA;Integrated Security=True" />-->
			<!--<add name="CnxSQL" connectionString="Data Source=DESKTOP-4D0CNB6\SQLEXPRESS;Initial Catalog=SIIVA;Integrated Security=True"	/>--> 
		<!--<add name="CnxSQL" connectionString="Data Source=localhost;Initial Catalog=SIIVA;Integrated Security=True" /> -->     
	</connectionStrings>
</configuration>